<html>
<body>
    <form action="{%  url 'validate_login' %}" method="POST">
       {% csrf_token %}
        <table align="center" border="2">
<tr>
<th width="250">Login Page</th>

</tr>
<tr><th><input type="text" placeholder="Username" name="t1" required></th></tr>
<tr><th><input type="password" placeholder="password" name="t2" required></th></tr>
<tr><th><button type="submit">Login</button></th></tr>

    </table>
</form>
{% if message %}
<h1>{{message}}</h1>
{% endif %}
</body>




</html>