{% load static %}
<html>
<body>
    <form action="{% url 'validate_otp' %}" method="POST"></form>
    {%  csrf_token %}
    <table align="center" border="2">
        <tr><th>
            <img src="{% static 'qrimages/pravin.jpg' %}" alt="">
        </th></tr>
        <tr><th>
            <input type="password" placeholder="OTP" required name="otp">
        </th></tr>
        <tr><th>
            <button type="submit">Check</button>
        </th></tr>
    </table>
</form>
</body>
</html>